@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-900 text-gray-100 antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-800;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-600 hover:bg-gray-500;
  }
}